html{ 
       min-width:1000px;
       max-width:100%;
       margin:0px;
       font-size:15px;
       font-family:roboto_r; 
       color:#333030;
       background:#FAFAFA;
       background:#fff;
}

body{
       margin:0px auto;
       max-width:100%;
       min-width:600px;
}

.top_color{width:100%;
           height:2px;
           position:absolute;
           top:0%;
           z-index:1;
           background-color:#9D8DF1;
}


@font-face{
  font-family:abel;
  src:url("../fonts/Abel-Regular.ttf");
}

@font-face{
  font-family:roboto_m;
  src:url("../fonts/Roboto-Medium.ttf");
}

@font-face{
  font-family:roboto_r;
  src:url("../fonts/Roboto-Regular.ttf");
}

@font-face{
  font-family:roboto_t;
  src:url("../fonts/Roboto-Thin.ttf");
}

@font-face{
  font-family:rock;
  src:url("../fonts/ROCK.TTF");
}